aiohttp~=3.9.5
Flask~=3.1.1
flask_compress~=1.18
flask_cors~=6.0.1
flask_limiter~=3.12
numpy
Pillow~=11.3.0
pillow_heif~=0.21.0
pycryptodome~=3.20.0
pyheif~=0.8.0
pyliblzfse~=0.4.1
pyproj~=3.7.2
Requests~=2.32.4
scipy
simplejpeg~=1.8.2
timezonefinder~=7.0.1
protobuf~=4.21.12
