<!DOCTYPE html>
<html>

<head>
  <title>Apple Look Around Viewer</title>
  <link rel="icon" href="data:image/svg+xml,
      <svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22>
          <text y=%22.9em%22 font-size=%2285%22>🍎</text>
      </svg>">
  <meta name="viewport" content="user-scalable=no" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.1.0/ol.css">
  <script src="https://cdn.jsdelivr.net/npm/ol@v7.1.0/dist/ol.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@4.1.0/dist/ol-layerswitcher.css" />
  <script src="https://unpkg.com/ol-layerswitcher@4.1.0"></script>
  <link rel="stylesheet" href="/static/ol-contextmenu.css">
  <script src="/static/ol-contextmenu.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/ol-ext@4.0.4/dist/ol-ext.min.css">
  <script src="https://unpkg.com/ol-ext@4.0.4/dist/ol-ext.js"></script>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div id="map"></div>
  <div id="pano"></div>
  <div id="pano-info">
    <div id="pano-address"></div>
    <div id="pano-metadata">
      <div id="time-machine">
        <img src="/static/icons/clock.png" width=16 height=16 class="time-machine-button">
        <div id="pano-date-and-time-machine-menu-container">
          <span id="pano-date" class="time-machine-button"></span>
          <div id="time-machine-menu"></div>
        </div>
      </div>
      <div id="pano-id"></div>
      <div><a href="javascript:void(0);" id="open-in-gsv">Open in Google Street View</a></div>
    </div>
    </div>
  <div id="github-link" class="github-link">
    <a href="https://github.com/sk-zk/lookaround-map/" title="View the source on GitHub">
      <img src="/static/GitHub-Mark-32px.png" width="24" height="24" alt="GitHub logo">
    </a>
  </div>
  <button id="close-pano" type="button"><span>✕</span></button>

  <script src="/static/dist/main.js" type="module"></script>
</body>

</html>
