<!DOCTYPE html>
<html>

<head>
  <title>Apple Look Around Viewer</title>
  <link rel="icon" href="data:image/svg+xml,
    <svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22>
        <text y=%22.9em%22 font-size=%2285%22>🍎</text>
    </svg>">
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
  <div id="map"></div>
  <div id="pano"></div>
  <div id="pano-info"></div>
  <button id="close-pano" type="button"><span>✕</span></button>
  <script src="/static/main.js" type="module"></script>
</body>

</html>