<!DOCTYPE html>
<html>

<head>
  <title>Apple Look Around Viewer</title>
  <link rel="icon" href="data:image/svg+xml,
      <svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22>
          <text y=%22.9em%22 font-size=%2285%22>🍎</text>
      </svg>">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, width=device-width" />
  <link rel="stylesheet" href="/static/dist/main.css">

  <meta property="og:title" content="Apple Look Around Viewer" />
  <meta property="og:description" content="A community-made web viewer for Apple Look Around" />
</head>

<body>
  <div id="map"></div>

  <div id="pano"></div>

  <div id="pano-info">
    <details id="pano-info-details" open>
    <summary>
      <img class="pano-info-hamburger" src="/static/icons/menu.svg" width="20" height="20" title="View more"> <strong><span id="pano-address-first-line"></span></strong>
      <div id="pano-share-container">
        <a href="javascript:void(0);" id="pano-share">
          <img class="pano-share-icon" src="/static/icons/share.svg" width="20" height="20" title="Share this location">
        </a>
      </div>
    </summary>
    <div id="pano-address-rest"></div>
    <div id="pano-metadata">
      <div id="time-machine">
        <img src="/static/icons/clock.svg" width=16 height=16 class="time-machine-button">
        <div id="pano-date-and-time-machine-menu-container">
          <span id="pano-date" class="time-machine-button"></span>
          <div id="time-machine-menu"></div>
        </div>
      </div>
      <div id="pano-id"></div>
      <div>Open in <a href="javascript:void(0);" id="open-in-gsv">Google Street View</a> | <a href="javascript:void(0);" id="open-in-apple-maps">Apple Maps</a></div>
    </div>
  </details>
  </div>

  <div id="github-link" class="github-link">
    <a href="https://github.com/sk-zk/lookaround-map/" title="View the source on GitHub">
      <img src="/static/icons/github.svg" width="24" height="24" alt="GitHub logo">
    </a>
  </div>

  <button id="close-pano" type="button"><span>✕</span></button>

  <div id="sidebar-container">
    <button id="sidebar-toggle" class="sidebar-toggle-transparent">&lt;</button>
    <div id="sidebar">
      <details id="sidebar-layers" class="sidebar-box" open>
        <summary><h2>Layers</h2></summary>
        <div id="sidebar-layers-insert" class="layer-switcher"></div>
      </details>
      <details id="sidebar-filters" class="sidebar-box">
        <summary><h2>Filters</h2></summary>
          <div class="sidebar-control-group">
          <h3>Coverage type</h3>
          <input type="checkbox" id="show-cars" name="show-cars" checked><label for="show-cars">Show car footage</label><br>
          <input type="checkbox" id="show-trekkers" name="show-trekkers" checked><label for="show-trekkers">Show trekker
            footage</label>
          </div>
          <p></p>
          <div class="sidebar-control-group">
          <h3>Capture date</h3>
          <input type="checkbox" id="filter-date" name="filter-date"><label for="filter-date">Filter by date:</label>
          <table>
            <tr>
              <td>From:</td>
              <td><input type="date" id="coverage-min-date" name="coverage-min-date" value="2018-01-01"></td>
            </tr>
            <tr>
              <td>To:</td>
              <td><input type="date" id="coverage-max-date" name="coverage-max-date" value="2023-01-01"></td>
            </tr>
          </table>
          </div>
          <p></p>
          <div class="sidebar-control-group">
          <h3>Line/circle color</h3>
            <input type="radio" id="color-by-type" name="line-color" checked><label for="color-by-type">Coverage type</label><br>
            <input type="radio" id="color-by-age" name="line-color"><label for="color-by-age">Age</label><br>
            <input type="radio" id="color-by-build-id" name="line-color"><label for="color-by-build-id">Build ID (z>=16)</label>
          </div>
          <p></p>
          <div class="sidebar-control-group">
          <h3>Crop by GeoJSON polygon</h3>
            <input type="file" id="polygon-filter" />
            <button id="remove-polygon-filter" style="display:none;">✕</button>
          </div>
      </details>
      <details id="sidebar-settings" class="sidebar-box">
        <summary><h2>Settings</h2></summary>
        <div class="sidebar-control-group">
          <h3>Theme</h3>
          <input type="radio" id="theme-auto" name="theme"><label for="theme-auto">Automatic</label><br>
          <input type="radio" id="theme-light" name="theme"><label for="theme-light">Light</label><br>
          <input type="radio" id="theme-dark" name="theme"><label for="theme-dark">Dark</label><br>
        </div>
        <p></p>
        <div class="sidebar-control-group">
          <h3>Map</h3>
          <input type="checkbox" id="labels-on-top" name="labels-on-top"><label for="labels-on-top">Display labels above lines (if supported by layer)</label>
        </div>
        <p></p>
        <div class="sidebar-control-group">
          <h3>Renderer</h3>
          <input type="checkbox" id="show-full-pano" name="show-full-pano"><label for="show-full-pano">Render full panorama (experimental)</label>
        </div>
        <p></p>
        <div class="sidebar-control-group">
          <h3>Address source</h3>
          <input type="radio" id="addr-nominatim" name="addr"><label for="addr-nominatim">OpenStreetMap (Nominatim)</label><br>
          <input type="radio" id="addr-apple" name="addr"><label for="addr-apple">Apple</label>
        </div>
      </details>
    </div>
  </div>

  <script src="/static/dist/main.js" type="module"></script>
</body>

</html>
